<div class="header-menu" [hidden]="shareService.getDataFromMap('hideHeaderBar')">
  <div class="container-fluid subHeaderColor">
    <div class="header-main-content">
      <div class="col-sm-3 sidebarleft">&nbsp;</div>
      <div class="col-sm-7 content-box">
        <div class="row">
          <div class="col-sm-5  header-title-list">
            <a style="display: inline-block;white-space: nowrap;">{{constantsService.getText("headerTitle")}} </a>
          </div>
          <div class="col-sm-7 header-title-list text-right pad-right-zero">
            <div class="col-sm-7 header-title-list text-right">
              <a style="display: inline-block;white-space: nowrap;font-size: 14px;">{{constantsService.getText("headerClientIdTitle2")}} </a>
            </div>
            <div class="col-sm-5 header-title-list text-right pad-left-right-zero">
              <a style="display: inline-block;white-space: nowrap;font-size: 14px;">{{constantsService.getText("headerClientIdTitle")}} </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
