.zero-padding-left {
  padding-left: 0px;
}

.zero-padding-right {
  padding-right: 0px;
}

.zero-padding-bottom {
  padding-bottom: 0px;
}

.five-padding-left {
  padding-left: 3px;
}

.page {
  padding-bottom: 90px;
  display: flex;
}

.float-right {
  float: right;
}

.padleft {
  padding-left: 30px;
}

.pushDown {
  padding-top: 5px;
}

.pushDown35 {
  padding-top: 35px;
}

.addStatement {
  float: right;
  cursor: pointer;
  font-size: 17px;
}

.pushDown25 {
  padding-bottom: 25px;
}

.txt-action-color {
  color: #67babe;
}

.leftbutton {
  float: right;
  /* padding-top: 20px; */
  margin-right: 122px;
}

.topMarginNames {
  padding-top: 24px;
}

.form-group-real {
  margin-bottom: 45px;
}

.form-control-v1 {
  width: 94% !important;
  }

.select-suffix {
  width: 77px;
}

.paddingSSNText {
  padding-left: 15px;
}

.trashtop {
  padding-top: 1.7em;
}

.paddingAdditional {
  padding-left: 7px;
}

.width-suffix {
  width: 88% !important;
}

.addAdditionalSSN {
  cursor: pointer;
}

.addAdditionalName {
  cursor: pointer;
}

.fa-130percx {
  font-size: 1.3em;
}

.pullDown7 {
  padding-top: 7px;
}

.box-border-bottom {
  border-bottom: 1px solid #eee;
}

.rowPadding{
    padding-top: 5px;
    padding-bottom: 15px;
}
.addbutton-margin{
    margin-top: 7px;
}
.add-client-height{
  height: 15px;
}
.tooltipalign{
  font-size: 14px;
}
.indexvalue{
  z-index: 2px;
}
.hrefcolor{
  color: #337ab7;
}
.topalign{
  margin-top: -24px;
}

/*.bottom-space{
  padding-bottom : 0px !important;
}*/
.alignssnReferral{
  margin-bottom : -0.1em;
}
.alignRadio{
  margin-top : 13px;
}
.label-check-modify{
  margin-top: 3px!important;
}
.buttonALignCientReg{
  margin-right : 54px;
}
.style1{
  border-color:red !important;
}
.style2{
  border-color:1px solid lightgray !important;
}
