.app-sidebar {
  padding: 2em 1em;
  &.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  /*background-color: #f1f1f1;*/
}

.sidebar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


/*.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}*/

.sidebar li a:hover:not(.active) {
  background-color: #888;
  color: white;
}

.sidebar-nav-menu:hover:not(.active) {
  background-color: #888;
  color: white !important;
  cursor: pointer;
}


/*.sidebar-nav-menu td a:hover:not(.active) {
   color: white !important;
  
}
*/

.hamburgerSpanMenu {
  color: #337ab7;
}

.sidebar-nav-menu:hover .hamburgerSpanMenu {
  color: white;
}

.sidebar-header {
  height: 15%;
}

.header-logo {
  margin-left: -29%;
  margin-top: 15%;
}

.spacebar {
  margin-right: 5%;
}

.spacebar-left {
  margin-left: 5%;
}


.glyphicon {
  margin-right: 10px;
}

.panel-body {
  padding: 0px;
}

.panel-body table tr td {
  padding-left: 15px
}

.panel-body .table {
  margin-bottom: 0px;
}

.sidebar-nav-width {
  width: 280px;
}

.sidebar-nav-inner-icon-margin {
  margin-left: 30px;
}

.close-btn-pad{
  padding-top:2px;
  padding-right:5px;
}
