<div class="col-md-1">
</div>
<div class="col-md-9 marginTop40">
  <h3 class="pointer"><a class="myTooltip">INBOX<span class="myTooltiptext">Go to your inbox</span></a></h3>
  <div>
    <div class="someTable section-wrpr zero-padding-bottom">

      <jquery-data-table [stylesclass]='" col-sm-12 col-xs-12 col-md-12"' [columns]=columns [dataTableConfig]=tableConfig [rows]=rows></jquery-data-table>

      <div class="clearfix"></div>
    </div>
    <div class="section-wrpr">
      <div class="section-label bold">APPLICATION PROCESS</div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image1.png"></div>
          <label class="box-label" for="">INQUIRY</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image2.png" (click)=next()></div>
          <label class="box-label" for="">SCREENING</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image3.png"></div>
          <label class="box-label" for="">INTERVIEW</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image4.png" (click)=trialBudget()></div>
          <label class="box-label" for="">TRIAL BUDGET / ELIGIBILTY</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image5.png"></div>
          <label class="box-label" for="">FINALIZE APP</label>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="section-wrpr">
      <div class="section-label bold">CASE MANAGEMENT</div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/history.png"></div>
          <label class="box-label" for="">BENEFIT HISTORY</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/case.png" (click)=next()></div>
          <label class="box-label" for="">CASE NARRATIVE</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image8.png"></div>
          <label class="box-label" for="">CHANGE HISTORY
</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image9.png"></div>
          <label class="box-label" for="">CHANGE REPORTING
</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image10.png"></div>
          <label class="box-label" for="">FINANCIAL MANAGEMENT
</label>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image11.png"></div>
          <label class="box-label" for="">MASS MODIFICATIONS
</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image12.png" (click)=next()></div>
          <label class="box-label" for="">MEDICAID SPENDOWN
</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image3.png"></div>
          <label class="box-label" for="">REDET/REINSTATE/ REACTIVATE
</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image4.png"></div>
          <label class="box-label" for="">REPORTING</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image5.png"></div>
          <label class="box-label" for="">RETRO MEDICAID
</label>
        </div>
      </div>
    </div>



    <div class="section-wrpr">
      <div class="section-label bold">CORRESPONDENCE</div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class="box-wrpr"><img class="appImg" src="./assets/images/Email.png"></div>
          <label class="box-label" for="">EMAIL</label>
        </div>
        <div class="content-wrpr">
          <div class="box-wrpr"><img class="appImg" src="./assets/images/letters.png" (click)=next()></div>
          <label class="box-label" for="">LETTERS</label>
        </div>
        <div class="content-wrpr">
          <div class="box-wrpr"><img class="appImg" src="./assets/images/notice.png"></div>
          <label class="box-label" for="">NOTICES</label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    <div class="section-wrpr">
      <div class="section-label bold">WORKER MANAGEMENT</div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class="box-wrpr"><img class="appImg" src="./assets/images/work perf.png"></div>
          <label class="box-label" for="">WORKER PERFORMANCE</label>
        </div>
        <div class="content-wrpr">
          <div class="box-wrpr"><img class="appImg" src="./assets/images/worker schedule.png" (click)=next()></div>
          <label class="box-label" for="">WORKER SCHEDULE</label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    <div class="section-wrpr">
      <div class="section-label bold">SYSTEM MANAGEMENT</div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image1.png"></div>
          <label class="box-label" for="">ARCHIVE</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image2.png" (click)=next()></div>
          <label class="box-label" for="">MASTER CLIENT INDEX
</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image3.png"></div>
          <label class="box-label" for="">PRINT REQUESTS

</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image4.png"></div>
          <label class="box-label" for="">PROGRAM PARAMETERS

</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image5.png"></div>
          <label class="box-label" for="">REFERENCE DATA

</label>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="big-wrpr">
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image12.png"></div>
          <label class="box-label" for="">SECURITY</label>
        </div>
        <div class="content-wrpr">
          <div class=" box-wrpr"><img class="appImg" src="./assets/images/image7.png"></div>
          <label class="box-label" for="">VENDOR MANAGEMENT
</label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for=""></label>
        </div>
        <div class="content-wrpr">
          <div class=""></div>
          <label class="box-label" for="">
</label>
        </div>
      </div>
    </div>
  </div>
</div>
