@import '~@angular/material/theming';

@include mat-core();

$mat-black: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: black,
  )
);


$primary: mat-palette($mat-black, 800);
$accent:  mat-palette($mat-black, A200, A100, A400);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);


@include angular-material-theme($theme);