.bus-ticket-card{
    width: 400px;
    margin: 24px auto;
}


.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

tr:hover {
  color: #999966;
  background-color: #cccc00;
  left: .1em;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #6699ff;
}


#result {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 20%;
  left: 40%;
  margin: -100px 0 0 -150px;
 
}

#details {
  position: absolute;
  width: 400px;
  height: 200px;
  z-index: 15;
  top: 32%;
  left: 75%;
  margin: -100px 0 0 -150px;
 border-style: solid;
 overflow:scroll; height:200px;
}

