<div class="wrapper"> 
  <div id="forgot-container">
    <div class="forgot-box">
      <div class="forgotbg">
        <div class="logo-wrapper">
          <img src="./assets/images/forgot-img.png" alt="" />
        </div>
        <div class="forgot-account">
          <h2>Your Background Check Is Underway</h2>
          <h3>Create a password to view your online results</h3>
          <form>
            <div class="form-group">
              <md-input-container class="example-full-width" >
                  <input mdInput placeholder="Email Address" type="email" [formControl]="emailFormControl" required>
                  <md-error *ngIf="emailFormControl.hasError('required')">This field is required</md-error>
                  <md-error *ngIf="(emailFormControl.value != '')  && (emailFormControl.hasError('email'))"> Please enter a valid email address</md-error>
               </md-input-container>
            </div>
            <div class="form-group">
              <md-input-container class="example-full-width">
                 <input mdInput placeholder="Password" [formControl]="passwordFormControl" required>
                   <md-error *ngIf="passwordFormControl.hasError('required')">This field is required</md-error>
                   <md-error *ngIf="passwordFormControl.hasError('pattern')"> Please enter a valid password</md-error>
               </md-input-container>
            </div>
            <div class="form-group">
               <md-input-container class="example-full-width">  
                  <input mdInput placeholder="Confirm Password" [formControl]="confirmPasswordFormControl" required>
                   <md-error *ngIf="confirmPasswordFormControl.hasError('required')">This field is required</md-error>
   							 	 <md-error *ngIf="confirmPasswordFormControl.hasError('minlength')"> Password should be atleast 6 characters long.</md-error>
               </md-input-container>
            </div>            
            <div class="btn-bottom-line">
              <button  type="submit" class="btn btn-primary create-btn" (click)="setLoginPageMessage()" [routerLink]="['/Login']" [routerLinkActive]="['active']">Create Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="forgot-bottom-text">
      <p>If you do not wish to create a password, you can <a>contact Us</a> to receive a copy of your background check via fax or mail.</p>
    </div>
  </div>
</div>  
