body{
	background:#f3f3f3;
}
#forgot-container{
	max-width:630px;
	margin:3em auto;
	padding:0 15px;
}
.forgot-box{
	background:#fff;
	border-radius:4px;
	border:1px solid #e6e6e6;
	padding:3em 0;
}
.forgotbg{
	max-width:372px;
	margin:0 auto;
}
.logo-wrapper{
	width:100%;
	text-align:center;
}
.logo-wrapper img{
	max-width:100%;
	display:inline-block;
}
.forgot-account{
	width:100%;
}
.forgot-account h2{
	font-size:2.1rem;
	line-height:1.2;
	font-weight:600;
	color:#231f20;
	text-align:center;
	margin:2em 0 .8em 0;
}
.forgot-account h3{
	font-size:1.55rem;
	line-height:1.2;
	font-weight:600;
	color:#231f20;
	text-align:center;
	margin:0 0 2em;
}
.forgot-account .form-group{
	margin-bottom:10px;
}
.form-box{
	background:#fff;
	border-radius:3px;
	border:1px solid #e6e6e6;
	padding:10px 10px 2px;
}
.label-field{
	display:block;
	font-size:11px;
	line-height:13px;
	color:#84848a;
	font-weight:400;
	letter-spacing:.8px;
	margin-bottom:0;
}
.forgot-account .form-control{
	border-radius:0;
	border:none;
	height:27px;
	padding:0;
	outline:none;
	box-shadow:none;
	color:#575f70;
	font-size:1.5rem;
	font-weight:600;
	background-color:transparent;
}
.disabled{
	background:#f3f3f3;
}
.forgot-account .form-control:focus{
	box-shadow:none;
}
.btn-bottom-line{
	padding-top:1.5em;
}
.create-btn{
	width:100%;
	padding:13px 0;
	border-radius:4px;
	color:#fff;
	font-size:1.5rem;
	line-height:1.2;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:.5px;
}
.forgot-bottom-text{
	width:100%;
	text-align:center;
	margin-top:2em;
}
.forgot-bottom-text p{
	font-size:13px;
	line-height:20px;
	color:#ababab;
}
.forgot-bottom-text p a:hover{
	text-decoration:underline;
}

.example-full-width {
  width: 100%;
}
.example-margin {
  margin: 0 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}