<div>
  <table class="table table-hover">
     <tr bgcolor="#669999">
        <td width="9.4%">Amazon Try prime</td>
      <td colspan="5">Search</td>
      <td   colspan="3">Shop End deals</td>
    </tr>
     <tr bgcolor="#669999">
       <td>Departments</td>
        <td>Your amazon</td>
          <td>Todays deals</td>
            <td>Gift cards</td>
              <td>Registry</td>
                <td>Language</td>
     <td>Sign in</td>
        <td>Try prime</td>
          <td>cart</td>
    </tr>
  </table>
</div>