<div *ngIf="ConfirmMessageIsVisible" class="modal fade show in danger alertMessageModal" id="alertModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="cancelMsg()">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>{{ConfirmMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelMsg()">No</button>
        <button type="button" class="btn btn-default" (click)="successMsg()">Yes</button>
      </div>
    </div>
  </div>
</div>