.five-padding-left {
  padding-left: 3px;
}

.page {
  padding-bottom: 90px;
  display: flex;
}

.float-right {
  float: right;
}

.padleft {
  padding-left: 30px;
}


.pushDown {
  padding-top: 5px;
}

.addStatement {
  float: right;
  cursor: pointer;
  font-size: 17px;
}

.income-header {
  display: inline-block; 
}

.pushDown25 {
  padding-bottom: 25px;
}

.txt-action-color {
  color: #67babe;
}

.leftbutton {
  float: right;
  /* padding-top: 20px; */
  margin-right: 122px;
}

.topMarginNames {
  padding-top: 24px;
}

.form-group-real {
  margin-bottom: 45px;
}

.form-control-v1 {
  width: 94% !important;
  }

.select-suffix {
  width: 77px;
}

.paddingSSNText {
  padding-left: 15px;
}

.input-mask {
  background-color: #dae3f3;
  padding: 0 5px;
}

.trashtop {
  padding-top: 1.7em;
}

.paddingAdditional {
  padding-left: 7px;
}

.width-suffix {
  width: 88% !important;
}

.addAdditionalSSN {
  cursor: pointer;
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.addAdditionalName {
  cursor: pointer;
}

.fa-130percx {
  font-size: 1.3em;
}

.pullDown7 {
  padding-top: 7px;
}

.rowPadding{
    padding-top: 5px;
    padding-bottom: 15px;
}
.addbutton-margin{
    margin-top: 7px;
}
.add-client-height{
  height: 15px;
}
.indexvalue{
  z-index: 2px;
}
.hrefcolor{
  color: #337ab7;
}
.topalign{
  margin-top: -24px;
}
.bottom-space{
  padding-bottom : 0px !important;
}
.alignssnReferral{
  margin-bottom : -0.1em;
}
.alignRadio{
  margin-top : 13px;
}
.label-check-modify{
  margin-top: 7px!important;
}
.check-box-label-margin{
      margin-top: -31px;
}

.buttonWidth{
  width: 130px;
}
.right-margin-add-button{
  margin-right: 6%;
  margin-top: -2%;
}
  
.right-margin-button{
    margin-right: 5%;
    margin-top: -2%;
}
.heading-top-margin{
  margin-top: -3%;
}
.label-field {
  font-weight: 600;
  font-size: 1.35rem;
  display: block;
  margin-top: 6%;
  margin-left: -16px;
}
.margin-top-client{
      margin-top: -7%;
}

.margin-left-vichel{
      margin-left: -2%;
      margin-right: 3%;
      width: 65.666667%;
}

.pd-right {
  padding-right: 0;
}

.label-type {
  font-size: 1.45rem;
  color: #555555;
  padding-bottom: 3px;
  display: block;
}

.padding5 {
  padding-right: 5px;
}

#assetsCount {
  text-align: center;
  padding-right: 43px; 
  font-weight: bold;
}

.amount-bg {
  background: #dae3f3;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom:20px;
}

.amount-grid .form-control {
  margin-bottom: 7px;
}

.total-info {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  display: block;
  padding-bottom: 3px;
}

.amount-input {
  text-align: right;
}

.col-md-FMW {
   width: 10px;
}

