<div class="page-container col-sm-7 content-box">
	<form>
		<div id="printSection" class="section-wrpr bottom-space">

			<div class="section-label">
				<div>CASE INFO</div>
				<!--<div class="addStatement topalign"><button class="btn btn-primary" (click)="back()">Client Search(Clearance)</button></div>-->
			</div>

			<div>

				<div class="box-border-bottom row-view">
					<!--form-group -->
					<div class="col-sm-12">
						<div class="col-sm-3">
							<label for="Demographic" class="label-field">Asset</label>
						</div>
						<div class="col-sm-12 eighty-padding-left">
							<div>
								<div class="col-sm-3 form-group zero-padding-left">
									<div class="pushDown" for="dob">Net Unearned Income</div>
								</div>

								<div class="col-sm-3 form-group zero-padding-right">
									<div class="pushDown" for="dob">$3100.00</div>
								</div>

								<div class="col-sm-3 form-group zero-padding-right">
									<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
								</div>

								<div class="col-sm-3 form-group zero-padding-right">
									<div class="pushDown" for="dob">$3100.00</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
			<div class="box-border-bottom row-view">
				<!--form-group -->
				<div class="col-sm-12">
					<div class="col-sm-3">
						<label for="Demographic" class="label-field">Available Income</label>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Guranteed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Case Deemed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Net Unearned Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Guranteed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Case Deemed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Net Unearned Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Net Unearned Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>



			<div class="box-border-bottom row-view">
				<!--form-group -->
				<div class="col-sm-12">
					<div class="col-sm-5">
						<label for="Demographic" class="label-field">Net Income Test</label>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Guranteed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Case Deemed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Net Unearned Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Guranteed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Case Deemed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Net Unearned Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Guranteed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Case Deemed Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 eighty-padding-left">
						<div>
							<div class="col-sm-3 form-group zero-padding-left">
								<div class="pushDown" for="dob">Net Unearned Income</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Gross UnearnedIncome</div>
							</div>

							<div class="col-sm-3 form-group zero-padding-right">
								<div class="pushDown" for="dob">$3100.00</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="box-border-bottom row-view">
				<!--form-group -->
				<div class="col-sm-12">
					<div class="col-sm-3">
						<label for="Demographic" class="label-field">Reasons</label>
					</div>
					<div class="col-sm-9 zero-padding-bottom">
						<!-- 						<div>
							<div class="col-sm-5 form-group zero-padding-left">
								<div class="pushDown" for="dob">Living Arrangement</div>
								<select class="form-control">
									<option  *ngFor="let optionEntity of this.constantsService.getDropDown('typeDropDown')" value="{{optionEntity.key}}">{{optionEntity.value}}</option>
									<option>Select</option>
								</select>
							</div>

							<div class="col-sm-5 form-group zero-padding-right">
								<div class="pushDown" for="ssn">Size</div>
								<input class="form-control" type="text" />
							</div>
						</div>
						<div>
							<div class="col-sm-5 zero-padding-left">
								<div class="pushDown" for="sex">IRS Dependents</div>
								<input class="form-control" type="text" />
							</div>
							<div class="col-sm-5 zero-padding-right"></div>
						</div> -->
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

		</div>

		<div class="buttonALign btnWrapper">
			<button class="btn cancel-btn btnMargingRt btnCancel" (click)="back()">Back</button>
		</div>



		<div class="buttonALign btnWrapper">
			<button class="btn cancel-btn btnMargingRt btnCancel" (click)="print()">PRINT</button>
		</div>

		<div class="clearfix"></div>
	</form>
</div>